ul.tagged-this {
	padding-inline-start: 20px
}

/* created by TagglyTaggingPlugin */
.tagglyTagging {
	padding-top: 0.5em;
}

.tagglyTagging li.listTitle {
	display: none;
}

.tagglyTagging ul {
	margin-top: 0px;
	padding-top: 0.5em;
	padding-left: 2em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.tagglyTagging {
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
}

.tagglyTagging table {
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.tagglyTagging .button {
	visibility: hidden;
	margin-left: 3px;
	margin-right: 3px;
}

.tagglyTagging .button,
.tagglyTagging .hidebutton {
	color: #ccc;
	font-size: 90%;
	border: 0px;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.tagglyTagging .button:hover,
.hidebutton:hover,
.tagglyTagging .button:active,
.hidebutton:active {
	border: 0px;
	background: #eee;
	color: #666;
}

.selected .tagglyTagging .button {
	visibility: visible;
}

.tagglyTagging .hidebutton {
	color: #fff;
}

.selected .tagglyTagging .hidebutton {
	color: #ccc
}

.tagglyLabel {
	color: #999;
	font-size: 90%;
}

.tagglyTagging ul {
	padding-top: 0px;
	margin-left: 1em;
}

.tagglyTagging ul ul {
	list-style-type: disc;
	margin-left: -1em;
}

.tagglyTagging ul ul li {
	margin-left: 0.5em;
}

.editLabel {
	font-size: 90%;
	padding-top: 0.5em;
}

.tagglyTagging .commas {
	padding-left: 1.8em;
}

/* not technically tagglytagging but will put them here anyway */
.tagglyTagged li.listTitle {
	display: none;
}

.tagglyTagged li {
	display: inline;
	font-size: 90%;
}

.tagglyTagged ul {
	margin: 0px;
	padding: 0px;
}

.excerpt {
	color: #666;
}

.excerptIndent {
	margin-left: 4em;
}

div.tagglyTagging table,
div.tagglyTagging table tr,
td.tagglyTagging {
	border-style: none !important;
}

.tagglyTagging .contents {
	border-bottom: 2px solid #eee;
	padding: 0 1em 1em 0.5em;
	margin-bottom: 0.5em;
}

.tagglyTagging .indent1 {
	margin-left: 3em;
}

.tagglyTagging .indent2 {
	margin-left: 4em;
}

.tagglyTagging .indent3 {
	margin-left: 5em;
}

.tagglyTagging .indent4 {
	margin-left: 6em;
}

.tagglyTagging .indent5 {
	margin-left: 7em;
}

.tagglyTagging .indent6 {
	margin-left: 8em;
}

.tagglyTagging .indent7 {
	margin-left: 9em;
}

.tagglyTagging .indent8 {
	margin-left: 10em;
}

.tagglyTagging .indent9 {
	margin-left: 11em;
}

.tagglyTagging .indent10 {
	margin-left: 12em;
}

.tagglyNoneFound {
	margin-left: 2em;
	color: #999;
	font-size: 90%;
	font-style: italic;
}