.box.is-hover:hover {
  background: rgba(55,53,47,0.08);
}

.linkpreview .favicon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
}

.linkpreview .image {
  display: block;
  object-fit: cover;
  border-radius: 1px;
  width: 100%;
  height: 100%;
}

.linkpreview button {
  opacity: 0;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.linkpreview:hover  button{
  opacity: 1;
}