.cm-s-bespin{font-size:1em;line-height:1.5em;font-family:inconsolata,monospace;letter-spacing:0.3px;word-spacing:1px;background:#28211C;color:#BAAE9E}
.cm-s-bespin .CodeMirror-lines{padding:8px 0}
.cm-s-bespin .CodeMirror-gutters{box-shadow:1px 0 2px 0 rgba(0,0,0,0.5);-webkit-box-shadow:1px 0 2px 0 rgba(0,0,0,0.5);background-color:#28211C;padding-right:10px;z-index:3;border:none}
.cm-s-bespin div.CodeMirror-cursor{border-left:3px solid #BAAE9E}
.cm-s-bespin .CodeMirror-activeline-background{background:#FFFFFF08}
.cm-s-bespin .CodeMirror-selected{background:#DDF0FF33}
.cm-s-bespin .cm-comment{font-style:italic;color:#666666}
.cm-s-bespin .cm-keyword{color:#5EA6EA}
.cm-s-bespin .cm-string{color:#54BE0D}
.cm-s-bespin .cm-property{color:#DAD085}
.cm-s-bespin .cm-variable-2{color:#5EA6EA}
.cm-s-bespin .cm-atom{color:#DAD085}
.cm-s-bespin .cm-number{color:#DAD085}
.cm-s-bespin .cm-operator{color:#5EA6EA}
.cm-s-bespin .CodeMirror-linenumber{color:italic}